<template>
  <div>
    <RemoteComponent module="shared" component="BreadcrumbTrail" :remote-props="breadcrumbTrailProps"></RemoteComponent>
    <section class="checkout spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h6>
              <span class="icon_tag_alt" />
              Have a coupon? <a href="#">Click here</a> to enter your code
            </h6>
          </div>
        </div>
        <div class="checkout__form">
          <h4>Billing Details</h4>
          <form @submit.prevent="onPayment">
            <div class="row">
              <div class="col-lg-8 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Fist Name<span>*</span></p>
                      <input type="text" required />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Last Name<span>*</span></p>
                      <input type="text" required />
                    </div>
                  </div>
                </div>
                <div class="checkout__input">
                  <p>Country<span>*</span></p>
                  <input type="text" required />
                </div>
                <div class="checkout__input">
                  <p>Address<span>*</span></p>
                  <input
                    type="text"
                    placeholder="Street Address"
                    class="checkout__input__add"
                    required
                  />
                  <input
                    type="text"
                    placeholder="Apartment, suite, unite ect (optinal)"
                  />
                </div>
                <div class="checkout__input">
                  <p>Town/City<span>*</span></p>
                  <input type="text" required />
                </div>
                <div class="checkout__input">
                  <p>Country/State<span>*</span></p>
                  <input type="text" required />
                </div>
                <div class="checkout__input">
                  <p>Postcode / ZIP<span>*</span></p>
                  <input type="number" required />
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Phone<span>*</span></p>
                      <input type="text" required />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Email<span>*</span></p>
                      <input type="email" required />
                    </div>
                  </div>
                </div>
                <div class="checkout__input__checkbox">
                  <label htmlFor="createNewAccount1">
                    Create an account?
                    <input type="checkbox" id="createNewAccount1" />
                    <span class="checkmark" />
                  </label>
                  <p style="padding-top: 10px;">
                    Create an account by entering the information below. If you are a returning customer please login at the
                    top of the page
                  </p>
                </div>
                <div class="checkout__input" style="margin-bottom: 0px;">
                  <p>Account Password<span>*</span></p>
                  <input type="password" class="checkout__input__add" required />
                </div>
                <div class="checkout__input__checkbox">
                  <label htmlFor="otherAddress">
                    Ship to a different address?
                    <input type="checkbox" id="otherAddress" />
                    <span class="checkmark" />
                  </label>
                </div>
                <div class="checkout__input">
                  <p>Order notes<span>*</span></p>
                  <input
                    type="text"
                    placeholder="Notes about your order, e.g. special notes for delivery."
                    required
                  />
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="checkout__order">
                  <h4>Your Order</h4>
                  <div class="checkout__order__products">
                    Products <span>Total</span>
                  </div>
                  <ul v-if="cartData">
                    <li v-for="item in cartData.items" :key="item.id">
                      {{ item.title }}
                      <span>
                        {{ item.price }}
                      </span>
                    </li>
                  </ul>
                  <div class="checkout__order__subtotal">
                    Subtotal <span>${{ cartData?.subTotal.toFixed(2) }}</span>
                  </div>
                  <div class="checkout__order__total">
                    Total <span>${{ cartData?.grandTotal.toFixed(2) }}</span>
                  </div>
                  <div class="checkout__input__checkbox">
                    <label htmlFor="createNewAccount2">
                      Create an account?
                      <input type="checkbox" id="createNewAccount2" />
                      <span class="checkmark" />
                    </label>
                    <p style="padding-top: 10px;">
                      Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua.
                    </p>
                  </div>
                  <div class="checkout__input__checkbox">
                    <label htmlFor="payment">
                      Check Payment
                      <input type="checkbox" id="payment" v-model="isCheck" />
                      <span class="checkmark" />
                    </label>
                  </div>
                  <div class="checkout__input__checkbox">
                    <label htmlFor="paypal">
                      Paypal
                      <input type="checkbox" id="paypal" v-model="isPaypal" />
                      <span class="checkmark" />
                    </label>
                  </div>
                  <p class="text-danger" v-show="!isSelectPayment">
                    Payment is required!
                  </p>
                  <button type="submit" class="site-btn">PLACE ORDER</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { useCartStore } from "@/store/cart";
import { storeToRefs } from "pinia";
import RemoteComponent from "@/components/RemoteComponent.vue";

export default defineComponent({
  name: "Checkout",
  components: {
    RemoteComponent
  },
  props: ["navigate", "token", "eventBus"],
  setup() {
    const cartStore = useCartStore();
    const { cartData } = storeToRefs(cartStore);
    cartStore.load();
    return { cartStore, cartData };
  },
  data() {
    return {
      isCheck: false,
      isPaypal: false,
      breadcrumbTrailProps: {
        title: 'Checkout',
        current: 'Checkout',
        breadcrumbItems: [{
          title: 'Home',
          path: '/'
        }],
        navigate: this.navigate
      }
    };
  },
  computed: {
    isSelectPayment() {
      return this.isCheck || this.isPaypal;
    },
  },
  methods: {
    onPayment: function (event: any) {
      event.preventDefault();
      if (!this.isCheck && !this.isPaypal) return;
      let messageEvent: any = {};
      if (this.isPaypal) {
        this.navigate("/payment-success");
        this.eventBus.emit("showMessage", null, {
          detail: {
            serverity: "success",
            message: "Your order has been paid successfully",
          },
        });
        this.cartStore.removeCartData();
        this.cartStore.saveOrder({
          paymentMethod: "paypal",
          paymentStatus: "success",
        });
      } else {
        this.navigate("/payment-failed");
        this.eventBus.emit("showMessage", null, {
          detail: {
            serverity: "fail",
            message:
              "There is a problem with your payment, please check your information and try again",
          },
        });
        this.cartStore.saveOrder({
          paymentMethod: "check",
          paymentStatus: "failed",
        });
      }
      if (Object.keys(messageEvent).length > 0) {
        document.body.dispatchEvent(messageEvent);
      }
    }
  },
});
</script>
