<template>
  <div v-if="error" className="loading-error" />
  <div v-else ref="root" className="mount-slot"></div>
</template>

<script lang="ts">
import { Ref, ref, onUpdated } from 'vue';
import remotes from "@/remotesConfig";

declare const __webpack_init_sharing__: (shareScope: string) => Promise<void>;
declare const __webpack_share_scopes__: { default: any };
type InitComponentFunc = (element: any, props: any) => void;

const checkIfLoaded = (url: string) => {
  const scriptElements = document.getElementsByTagName("script");
  for (let scriptElement of scriptElements) {
    if (scriptElement.src === url) {
      return true;
    }
  }

  return false;
}

const loadRemoteScripts = (module: string) => {
  return new Promise((resolve) => {
    //@ts-ignore
    const url = remotes[module].url;
    if (!url) {
      resolve(false);
      return;
    }

    if (checkIfLoaded(url)) {
      resolve(true);
      return;
    }

    const element = document.createElement("script");

    element.src = url;
    element.type = "text/javascript";
    element.async = true;

    element.onload = () => {
      resolve(true);
    };

    element.onerror = () => {
      resolve(false);
    };

    document.head.appendChild(element);
  });
}

const loadRemoteComponent = async (module: string, component: string) => {
  //@ts-ignore
  const scope = remotes[module].scope;
  await __webpack_init_sharing__("default");
  const container = window[scope];
  await container.init(__webpack_share_scopes__.default);
  const factory = await container.get(component);
  return factory();
};

export default {
  name: 'RemoteComponent',
  props: ['module', 'component', 'remoteProps'],
  setup(props: any) {
    const root = ref(null);
    const error = ref(null);
    const remoteComponent: Ref<null | InitComponentFunc> = ref(null);

    function updateReactComponent() {
      if (!remoteComponent.value || !!error.value) {
        return;
      }

      remoteComponent.value(root.value, props.remoteProps);
    }

    onUpdated(updateReactComponent);

    loadRemoteScripts(props.module)
      .then(() => loadRemoteComponent(props.module, props.component))
      .then(component => {
        remoteComponent.value = component.default;
        updateReactComponent();
      })
      .catch(e => {
        error.value = e;
      });

    return { root, error };
  }
};
</script>

<style>
.loading-error {
  widows: 100%;
  height: 100%;
  background-color: #ccc;
}
</style>
